/* ====== sidebar ======== */

.sidebar
{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 1.5em 1em;
    background: var(--primary-color1);
    color: var(--primary-color2);
    transition: var(--tran-04);
    z-index: 100;

    
}
.sidebar .image-text img
{
    width: 40px;
    border-radius: 6px;
}

.sidebar .sidebar-sub .image-text
{
    display: flex;
    align-items: center;
    transition: var(--tran-02);
}

/* ====== inside sidebar ======== */

.sidebar .text
{
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--secundary-color1);
    transition: var(--tran-03);
    white-space: nowrap;
}

.sidebar .image
{
    min-width: 60px;
    display: flex;
    align-items: center;
}
.sidebar-sub
{
    position: relative;
}

.sidebar-sub .image-text .header-text
{
    display: flex;
    flex-direction: column;
}

.header-text .name
{
    font-weight: 600;
}

.header-text .profession
{
    margin-top: -0.2em;
}

.sidebar .sidebar-sub .toggle
{
    position: absolute;
    top: 50%;
    right: -13%;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background: var(--primary-color2);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--primary-color1);
    font-size: 1.8rem ;
    cursor: pointer;
    transition: var(--tran-03);
}

.sidebar .menu-bar
{
    margin-top: 1em;
}

.sidebar li
{
    height: 50px;
    margin-top: 0.8em;
    display: flex;
    align-items: center;
}

.sidebar li .icon
{
    display: flex;
    align-items: center;
    justify-content:center ;
    font-size: 1.5rem;
    min-width: 60px;
}

.sidebar li .icon,
.sidebar li .text
{
    
    color: var(--secundary-color1);
    transition: var(--tran-02);
}

.sidebar li a
{
    height: 100%;
    display: flex;
    align-items: center;
    border-radius: 6px;
    transition: var(--tran-04);
    width: 100%;

}

.sidebar li a:hover
{
    background: var(--primary-color2);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text
{
    color:var(--primary-color1)
}

.menu-links
{
    padding: 0;
}

.sidebar .menu-bar
{
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-bar .mode
{
    background: var(--secundary-color2);
    border-radius: 6px;
    position: relative;
}

.menu-bar .mode .moon-sun
{
    height: 50px;
    width: 60px;
    display: flex;
    align-items: center;
}

.menu-bar .mode i
{
    position:absolute;
    transition: var(--tran-03);
}

.menu-bar .mode i.moon
{
    opacity: 1;
}
.menu-bar .mode i.sun
{
    opacity: 1;
}

.menu-bar .mode .toggle-switch
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-width: 60px;
    cursor: pointer;
    position: absolute;
    right: 0;
}

.toggle-switch .dark
{
    position: relative;
    border-radius: 25px;
    height: 22px;
    width: 44px;
    background: var(--secundary-color1);
}

.dark::before
{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    left: 5px;
    transform: translateY(-50%);
    top: 50%;
    background-color: var(--primary-color1);
    transition: var(--tran-03);
}

.light::before 
{
    left: 25px;
}


.sidebar.close 
{
    width: 90px;
}

.sidebar.close .text
{
    opacity: 0;
}

.sidebar.close .sidebar-sub .toggle
{
    right: -45%;
    transform: translateY(-50%);
}

.sidebar.close .sidebar-sub .image-text
{
    margin-left: 0.7em;
    transition: var(--tran-02);
}


/* .home
{
    position: relative;
    left: 250px;
    height: 100vh;
    width: calc(100% - 250px);
    background: rgba(0, 0, 0, 0.2);
    transition: var(--tran-04);
}

.sidebar.close ~ .home
{
    left: 90px;
    width: calc(100% - 90px);
    transition: var(--tran-04);
   
} */