<div class="card2" >
    
        <div class="front"> 
            <img  [ngSrc]= "games.thumbnail" width="400" height="230" priority="true">
            <aside class="card__header">{{games.title}}</aside>
            <aside class="card__face--front_right">
                <span> {{games.genre}} </span>
                <i class='bx bxl-windows'></i>
                <i class='bx bxs-right-arrow-square icon'></i>
            </aside>
            
        </div>

        <div class="back">
            <aside class="card__body"><span> Game Title </span> 
                {{games.title}}</aside>
            <aside class="card__content"><span> Game description </span><br> 
                {{games.short_description}}</aside>
            <aside class="card__content"><span> Game Publisher </span><br>{{games.publisher}} </aside>
            <button class="btn-24" (click)="GamePage(games.id)" ><span>Game Page</span> </button>

        </div>
    
        <link rel="preconnect" href="https://www.freetogame.com">
</div>
