.card2
{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 320px;
    height: 300px;
}

.card2 div
{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    backface-visibility: hidden;
    transition: 1s;

}


/* front */
.card2 .front
{
    transform: perspective(1000px) rotateY(0deg);
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--secundary-color2);
    box-shadow: 2px 5px 20px 8px rgba(0, 0, 0, 0.2);
    
}

.card__header
{
    display: flex;
    color: var(--secundary-color1);
    font-size: 1.5rem;
    width: 50%;
    padding: 0.4em;
    font-weight: 600;
}



.card__face--front_right
{
    font-size: 1rem;
    color: var(--primary-color1);
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    padding: 0.4em;
}

.card__face--front_right span
{
    padding: 0.3em;
    background-color: var(--secundary-color1);
    border-radius: 25px;
    font-weight: 600;
    
}

.card__face--front_right i
{
    color:var(--secundary-color1);
    
}

/* back */

.card2 .back
{
    transform: perspective(1000px) rotateY(180deg);
    background-color: var(--secundary-color2);
    transform: rotateY(180deg);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 0.5rem;
    padding: 1em;
    box-shadow: 2px 5px 20px 8px rgba(0, 0, 0, 0.2);
    color: var(--secundary-color1);
    gap: 0.5em;
}

.card__content
{
    width: 100%;
    font-size: 1rem;
}

.card__content span
{
    color:  var(--primary-color2);
    font-size:1.5rem;
}
.card__body
{
    width: 100%;
    font-size: 1.3rem; 
}

.card__input
{
    width: 100%;
    font-size: 1rem;
    padding: 0.2em;
    background-color: var(--primary-color2);
}


/* hover */
.card2:hover .front
{
    transform: perspective(1000px) rotateY(180deg);
}

.card2:hover .back
{
    transform: perspective(1000px) rotateY(360deg);
}

.icon
{
    margin-left: 1.2em;
    font-size: 1.5rem;
}