<div class="game-page-main bg-dark ">
    <div class="mainContent "  style= "background-image: url({{specificgame.screenshots[1].image}});" width="100%">

         
                    <button class="btn-82" (click)="redirect()"><span>{{specificgame.title}}</span></button>

    </div>   
    

    <div class="secondContent" style= "background-image: url({{specificgame.screenshots[0].image}}); opacity: 0.8;" width="100%">
        <div class="description">
            <div class="description-left">
                <h1> {{specificgame.title}} </h1>
                <p> {{specificgame.description}} </p>
            </div>   
            <div class="creators">
                Developer <p>{{specificgame.developer}} </p>
                <hr>
                Publisher <p>{{specificgame.publisher}} </p>
                <hr>
                Release date <p>{{specificgame.release_date}} </p>
                <hr>
                Platform<p>{{specificgame.platform}} </p>
                <hr>
                Status <p>{{specificgame.status}} </p>
            </div>
        </div>

        <div class="System-req">
            <div class="System-req-center">
                <h3>Minimun System Requirements</h3>
                <hr width="100%">
                <div class="System-req-content" >
                    Operative System <p>{{specificgame.minimum_system_requirements.os}}</p>
                    Processor <p>{{specificgame.minimum_system_requirements.processor}}</p>
                    Memory <p>{{specificgame.minimum_system_requirements.memory}}</p>
                </div>
                <div class="System-req-content" >
                    Graphics <p>{{specificgame.minimum_system_requirements.graphics}}</p>
                    Storage <p>{{specificgame.minimum_system_requirements.storage}}</p>
                </div>


                

            </div>
        </div>
    </div>


</div>
