.header-main
{
    width: 100%;
    height: 10vh;
    z-index: 99;
    background: var(--primary-color1);
    color: var(--secundary-color1);
    border-bottom: 1px solid var(--secundary-color2);
}

.header-body
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.header-ul
{
    
    display: flex;
    margin-inline-end: 2em;
    gap: 1.5em;
}

.header-li .icon
{
    display: flex;
    align-items: center;
    justify-content:center ;
    font-size: 1.5rem;
    min-width: 60px;
    cursor: pointer;
}
.filters
{
    display: flex;
    justify-content: center;
    width: 50%;
}


.bx-bell:hover
{
    color: white;
    transition: var(--tran-03);
}


.header-li
{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
}

.profile
{
    background-color: white;
    transition: transform 0.4s linear;
}
.profile:hover
{transform: scale(1.3) }

/* filter */

.filter
{
    color: var(--secundary-color1);
    background-color: var(--primary-color1);
    border: none;
    padding: 0.3em;
    cursor: pointer;
    outline: 0;
    width: 190px;
}

.filter:hover
{
    color: white;
    transition: var(--tran-03)
}

.filter::-webkit-scrollbar
{
    width: 0.4em;
}

.filter::-webkit-scrollbar-track
{
    border: none;
    background: var(--secundary-color2);
}

.filter::-webkit-scrollbar-thumb
{
    background-color: var(--secundary-color1);
    border-radius: 6px;
}



