<div class="home-main">
    <!-- <video autoplay loop muted plays-inline class="back-video">
        <source src="../../../assets/vid1.mp4" type="video/mp4">
    </video> -->

    <!-- <img src="../../../assets/brad-starkey-pVyaUGCuUU4-unsplash.jpg" class="back-video" alt=""> -->

    <div class="home-content1">
        <h1>Welcome to the Paradise of Free PC Games </h1>
        <input class="home-content1_input" type="button" value="Get Started!">
        
    </div>
    <div class="home-content"></div>

</div>

<div class="home-secundary">


</div>
