.games-main
{
    width: calc(144% - 250px) ;
    min-height: 90vh;
    background-color: var(--primary-color1);
    margin: 0;
    
    margin-top: 10vh;
    margin-left: 250px;
    transition: var(--tran-04);

    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    
    
}

.close
{
    width: calc(144% - 90px);
    margin-left: 90px;
    transition: var(--tran-04);
}