<div class="games-main">

        <div class="filters">

                <div class="search">
                    <i class='bx bx-search-alt icon'></i>
                    <input class="searchBar" type="text" placeholder="Search..." name="search" (ngModelChange)="Search($event)"  [ngModel]="searchWord">
                </div>
              
                <div class="filterSpace">
                    <div class="inactiveFilter" (click)="ngOnInit()">All Games</div>
                    <div class="activeFilter" *ngFor="let tag of GamesTags; index as i">{{GamesTags[i]}}</div>
                    <!-- <div class="activeFilter">3d</div>
                    <div class="activeFilter">Action</div>
                    <div class="activeFilter">Anime</div>
                    <div class="activeFilter">Card</div>
                    <div class="activeFilter">Fantasy</div>
                    <div class="activeFilter">Fighting</div>
                    <div class="activeFilter">First Person View</div>
                    <div class="activeFilter">Flight</div>
                    <div class="activeFilter">MMORPG</div>
                    <div class="activeFilter">Martial Arts</div>
                    <div class="activeFilter">Military</div>
                    <div class="activeFilter">Moba</div>
                    <div class="activeFilter">Open World</div>
                    <div class="activeFilter">Permadeath</div>
                    <div class="activeFilter">Pixel</div>
                    <div class="activeFilter">Racing</div>
                    <div class="activeFilter">Sci-Fi</div>
                    <div class="activeFilter">Shooter</div>
                    <div class="activeFilter">Social</div>
                    <div class="activeFilter">Space</div>
                    <div class="activeFilter">Sports</div>
                    <div class="activeFilter">Strategy</div>
                    <div class="activeFilter">Superhero</div>
                    <div class="activeFilter">Survival</div>
                    <div class="activeFilter">Tank</div>
                    <div class="activeFilter">Third Person View</div>
                    <div class="activeFilter">Zombie</div> -->
                </div>


                <!-- FILTER BUTTON -->
                <div class="filterImg">
                    <div class="btn-group">
                        <button class="btn dropdown iconBox " type="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false" data-bs-offset="-40,16">
                            <i class='bx bx-filter icon '></i>
                        </button>
                        <ul class="dropdown-menu filterOptions">
                        <li >
                                <div class="form-check options" *ngFor="let tag of GamesTags; index as i">
                                <input class="form-check-input " type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                {{GamesTags[i]}}
                                </label>
                                </div>
                            
                        </li>

                        
                        </ul>
                      </div>

                    
                    <i class='bx bx-expand-vertical icon iconBox' (click)="SortGamesByAlphabet()" ></i>
                    
                </div>
        </div>

    <div class="games">
        <app-game-cards [games]="game" *ngFor="let game of games |filter:searchWord"></app-game-cards>
    </div>

</div>
