<div class="games-main">

        <div class="filters">

                <div class="search">
                    <i class='bx bx-search-alt icon'></i>
                    <input class="searchBar" type="text" placeholder="Search..." name="search" (ngModelChange)="Search($event)"  [ngModel]="searchWord">
                </div>
              
                <div class="filterSpace">
                    <div [ngClass]="{activeFilter:this.selectedCheckboxes.length === 0, inactiveFilter: this.selectedCheckboxes.length > 0}" (click)="fetchGames()">All Games</div>
                    <div class="activeFilter" *ngFor="let checkbox of selectedCheckboxes"> {{checkbox}} </div>
                    
                    
                </div>


                <!-- FILTER BUTTON -->
                <div class="filterImg">
                    <div class="btn-group">
                        <button class="btn dropdown-toggle iconBox" type="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false" data-bs-offset="-45,16">
                            Filter By
                        </button>
                        <ul class="dropdown-menu filterOptions">
                            <li class="list" (click)="SortGamesByAlphabet()" >Sort By Alphabet</li>
                            <li><hr class="dropdown-divider"></li>
                        <li >
                                <div class="form-check options" *ngFor="let tag of GamesTags; index as i">
                                <input class="form-check-input " type="checkbox" name="{{GamesTags[i]}}" value="" id="flexCheckDefault" 
                                (change)="onCheckboxChange($event)">
                                <label class="form-check-label" for="flexCheckDefault">
                                {{GamesTags[i]}}
                                </label>
                                </div>
                            
                        </li>
                        </ul>
                      </div>
                </div>
        </div>

    <div class="games">
        <app-game-cards [games]="game" *ngFor="let game of games |filter:searchWord"></app-game-cards>
    </div>

</div>
