<div class="games-main bg-dark">

    <div class="games-main_content">
        <div class="filters">
            <select name="filter_type" class="filter bg-dark" #filter_type>
                <option value="" class="filter">Sort By: Alphabetical</option>
                <option value="" class="filter">Sort By: Release Date</option>
                <option value="" class="filter" selected>Sort By: Relevance</option>
                
                
            </select>

            <select name="filter_type" class="filter bg-dark" #filter_type>
                <option value="" class="filter" selected>Genre/Tag: All Genres</option>
                <option value="" class="filter" >Genre/Tag: 2d</option>
                <option value="" class="filter" >Genre/Tag: 3d</option>
                <option value="" class="filter" >Genre/Tag: Action</option>
                <option value="" class="filter" >Genre/Tag: Action-Rpg</option>
                <option value="" class="filter" >Genre/Tag: Battle-Royale</option>
                <option value="" class="filter" >Genre/Tag: Card</option>
                <option value="" class="filter" >Genre/Tag: Fantasy</option>
                <option value="" class="filter" >Genre/Tag: Fighting</option>
                <option value="" class="filter" >Genre/Tag: First-Person</option>
                <option value="" class="filter" >Genre/Tag: Flight</option>
                <option value="" class="filter" >Genre/Tag: Horror</option>
                <option value="" class="filter" >Genre/Tag: Martial-Arts</option>
                <option value="" class="filter" >Genre/Tag: Military</option>
                <option value="" class="filter" >Genre/Tag: MMO</option>
                <option value="" class="filter" >Genre/Tag: MMOfps</option>
                <option value="" class="filter" >Genre/Tag: MMORPG</option>
                <option value="" class="filter" >Genre/Tag: MMOrts</option>
                <option value="" class="filter" >Genre/Tag: MMOtps</option>
                <option value="" class="filter" >Genre/Tag: MOBA</option>
                <option value="" class="filter" >Genre/Tag: Low-Spec</option>
                <option value="" class="filter" >Genre/Tag: Open-World</option>
                <option value="" class="filter" >Genre/Tag: Permadeath</option>
                <option value="" class="filter" >Genre/Tag: Pixel</option>
                <option value="" class="filter" >Genre/Tag: PvE</option>
                <option value="" class="filter" >Genre/Tag: PvP</option>
                <option value="" class="filter" >Genre/Tag: Racing</option>
                <option value="" class="filter" >Genre/Tag: Sailing</option>
                <option value="" class="filter" >Genre/Tag: Sandbox</option>
                <option value="" class="filter" >Genre/Tag: Sci-Fi</option>
                <option value="" class="filter" >Genre/Tag: Shooter</option>
                <option value="" class="filter" >Genre/Tag: Side-Scroller</option>
                <option value="" class="filter" >Genre/Tag: Social</option>
                <option value="" class="filter" >Genre/Tag: Space</option>
                <option value="" class="filter" >Genre/Tag: Sports</option>
                <option value="" class="filter" >Genre/Tag: Strategy</option>
                <option value="" class="filter" >Genre/Tag: Superhero</option>
                <option value="" class="filter" >Genre/Tag: Survival</option>
                <option value="" class="filter" >Genre/Tag: Tank</option>
                <option value="" class="filter" >Genre/Tag: Third-Person</option>
                <option value="" class="filter" >Genre/Tag: Top-Down</option>
                <option value="" class="filter" >Genre/Tag: Tower-Defense</option>
                <option value="" class="filter" >Genre/Tag: Voxel</option>
                <option value="" class="filter" >Genre/Tag: Zombie</option>
            </select>
        </div>
    </div>
    <div class="games">
<app-game-cards></app-game-cards>
<app-game-cards></app-game-cards>
<app-game-cards></app-game-cards>
<app-game-cards></app-game-cards>
<app-game-cards></app-game-cards>
<app-game-cards></app-game-cards>
<app-game-cards></app-game-cards>
<app-game-cards></app-game-cards>
<app-game-cards></app-game-cards>
    </div>

</div>
