.games-main
{
    width: 100% ;
    min-height: calc(100vh - 40px);
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    margin-top: 40px;
    background-color: black;
}

.games
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    gap: 0.5em;
    margin-top: 1em;
}


/* ============filter =============0*/

.filters
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    height: 60px;
    gap: 1em;
    background-color: white;
    border-radius: 4px;
    margin-top: 40px;

    
}

.search
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    height: 100%;
    width: 20%;
    border-right: 1px solid gray;
}

.searchBar
{
    width: 80%;
    height: 100%;
}

.filterSpace
{
    display: flex;
    align-items: center;
    gap: 0.5em;
    height: 100%;
    width: 72%;
    border-right: 1px solid gray;
    overflow: scroll hidden;
    overflow-wrap:normal;
}
.filterSpace::-webkit-scrollbar
{
    height: 0.5em;
}

.filterSpace::-webkit-scrollbar-track
{

    border: none;
    background: var(--secundary-color1);
}

.filterSpace::-webkit-scrollbar-thumb
{
    background-color: var(--secundary-color2);
    border-radius: 5px;
}

.activeFilter
{
    padding: 0.6em;
    border-radius: 6px;
    cursor: pointer;
    background-color: var(--primary-color2);
    text-overflow: ellipsis;
    white-space: nowrap;
    max-height: 2.5em;
    display: flex;
}

.inactiveFilter
{
    padding: 0.6em;
    border-radius: 6px;
    cursor: pointer;
    background-color: grey;
    color: var(--secundary-color1);
    max-height: 2.5em;
    text-overflow: ellipsis;
    white-space: nowrap;
    opacity: 0.5;
}

.filterImg
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 0.5em;
    height: 100%;
    width: 10%;
    position: relative;
}

.filterOptions
{
    width: 175px;
    padding: 0.8em;
    
}

.options
{
    cursor: pointer;
}
.list
{
    cursor: pointer;
}

.icon
{
    font-size: 1.5rem;
}

.iconBox
{
    padding: 0.4em;
    border-radius: 6px;
    cursor: pointer;
    background-color: var(--primary-color2);
}

